

.pop-up__input {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    width: 100%;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    box-sizing: border-box;
  }