@import url(./__info/profile__info.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__title/profile__title.css);
@import url(./__add/profile__add.css);
@import url(./__edit/profile__edit.css);
@import url(./__avatar/profile__avatar.css);
.profile{
    display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "avatar info Edit Add";
  padding-bottom: 51px;
}
@media (max-width:900px){
  .profile{
    grid-template-columns: 20% 43% 10% 16%;
  }
}
@media (max-width:881px){
  .profile{
    grid-template-columns: 232px 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "avatar avatar"
    "info Edit"
    "Add Add";
    position: relative;
    justify-content: center;
  }
}