.add{
    grid-area: Add;
    background-color: black;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    display: flex;
    position: relative;
    top: 28%;
    left: 56%;
    background: url("../../images/Add.svg") no-repeat center;
}
.add:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media (max-width:881px){
    .add{
        width: 282px;
        left: 0;
    }
}