@import url(./_active/form-input-error_active.css);
.form-input-error {
    opacity: 0;
    visibility: hidden;
    ;
}

@media screen and (max-width: 520px) {
    .form-input-error {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .form-input-error {
        margin-bottom: 2px;
        font-size: 7px;
        line-height: 1.2;
    }
}