@import url(./__info/card__info.css);
@import url(./__item/card__item.css);
.card{
    max-width: 282px;
    background-color: white;
border-radius: 3%;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 282px 80px;
grid-template-areas: "photo" "info";
}